

/* container */
/* aside */


/* //aside */

/* section1 - mainBanner */
/* 메인배너 텍스트 */
.main_visual{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.main_visual>.main_txt{
    border: 1px solid blue;
    color: #000;
    font-size: 50px;
    text-align: center;
}
.main_visual>.main_txt>p{}
/* 매인배너 - 자동배너 */
.main_visual>.banner{border: 1px solid black;}
.main_visual>.banner>.main_contents{}
.main_visual>.banner>.main_contents>.content{
    position: relative;
    border: 1px solid blue;
}
.main_visual>.banner>.main_contents>.content>img{
    margin: 0 100px;
}
.main_visual>.banner>.main_contents>.content>p{
    font-size: 14px;
    position: absolute; left: 50%;
    transform: translateX(-50%);
}
.main_visual>.banner>.main_contents>.content>p>a{
    display: inline-block;
    padding: 15px 30px;
    border: 1.5px solid black;
    border-radius: 20px;
    transition: all 1s ease;
}

.main_visual>.banner>.main_contents>.content>p>a:hover{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
/* 배너 컨트롤 */
.main_visual>.banner>.controls{}
.main_visual>.banner>.controls>.play_stop{}
.main_visual>.banner>.controls>.play_stop>span{
    display: inline-block;
    width: 10px; height: 12px;
    background: url(../img/controls.png);
    background-position: 86px 11px;
}

.main_visual>.banner>.controls>.banner_page_roll{}
.main_visual>.banner>.controls>.banner_page_roll>span{
    display: inline-block;
    width: 13px; height: 12px;
    background: url(../img/banner_page_roll.png);
}
/* //section1 - mainBanner */

/* section2 - 스타벅스 리워드 */
.rewards{
    background: #1E3932;
}
.rewards>.rewards_inner{
    width: 1080px; height: 100%;
    margin: 0 395px;
    padding: 45px 0;
    display: flex;
}
.rewards>.rewards_inner>img{
    margin-right: 100px;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1{
    border-bottom: 1px solid rgb(75, 97, 91);
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1>p{
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1>div{
    width: 795px;
    position: relative;
    font-size: 17px;
    margin-bottom: 20px;
}

.rewards>.rewards_inner>.rewards_content>.rewards_content1>div>div{
    position: absolute; right: 0; bottom: 0;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1>div>div>button{
    padding: 10px 15px;
    font-size: 15px; 
    border-radius: 5px;
    color: #fff;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1>div>div>button:first-of-type{
    background: #00704A;
    border: 2px solid #00704A;
    margin-right: 10px;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content1>div>div>button:last-of-type{
    border: 2px solid #fff;
    background: #1E3932;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content2{
    position: relative;
    width: 795px;
    margin-top: 40px;
    font-size: 14px;
}
.rewards>.rewards_inner>.rewards_content>.rewards_content2>button{
    position: absolute; right: 0; bottom: 0;
    padding: 10px 20px;
    font-size: 15px; 
    border-radius: 5px;
    color: #fff;
    border: 2px solid #fff;
    background: #1E3932;
}
/* //section2 - 스타벅스 리워드 */

/* section_content1 */
.content1{
    background: url(../img/2023_summer_promotion_bg.jpg)  center/cover no-repeat;
}
.content1>.content1_inner{
    position: relative;
    width: 1124px;
    display: flex;
    margin: 0 auto;
}
/* 커피이미지 트랜지션 전 */
.content1>.content1_inner>img{
    opacity: 0;
    position: relative; left: -1000px;
    transition: all 1.3s linear 0s;
}
/* 커피이미지 트랜지션 후 */
.content1>.content1_inner.section_show>img{
    opacity: 1;
    position: relative; left: 0;
}
/* 텍스트부분 트랜지션 전 */
.content1>.content1_inner>.content1_txt{
    opacity: 0;
    position: absolute; right: -100%; top: 50%;
    transition: all 1.3s linear 0s;
}
/* 텍스트부분 트랜지션 후 */
.content1>.content1_inner.section_show>.content1_txt{
    opacity: 1;
    position: absolute; right: 10%; top: 50%;
    transform: translateY(-50%);
}

.content1>.content1_inner>.content1_txt>a{
    display: block;
    width: 80px;
    color: #816f41;
    margin-top: 20px;
    border: 2px solid #816f41;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.8s ease;
}
.content1>.content1_inner>.content1_txt>a:hover{
    color: #fff;
    background: #816f41;
}
/* //section_content1 */